includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    ignoreErrors:
        -
            message: '#Access to an undefined property [a-zA-Z0-9\\_]+::\$id#'
            path: src/DataTableComponent/LivewireCrudDataTable.php
